<button mat-fab (click)="onClickUserInfo()">
  <mat-icon>person</mat-icon>
</button>

<mat-card class="main-card center" style="height:600px;max-height: 600px;overflow: scroll;">
  <tcc-message-list></tcc-message-list>
</mat-card>
<mat-card class="main-card center">
    <!--<mat-icon>message</mat-icon>-->
    <mat-form-field class="chat-input">
      <input matInput
         #inputMessage
         maxlength="140"
         placeholder="Type your message"
         [(ngModel)]="messageContent"
         (keyup.enter)="sendMessage(messageContent)">
      <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
    </mat-form-field>
</mat-card>