<mat-list-item [ngClass]="[(message.action === actions.CHAT && message.from.id === userService.user.id)? 'chat-list-item': 'user_info_message']">
  <span>{{getDateCreate()}}</span>
  <img mat-list-avatar *ngIf="message.action === actions.CHAT" [src]="message.from.avatar">
  <h4 mat-line *ngIf="message.action === actions.CHAT">
    <b>{{message.from.username}}</b>
  </h4>
  <p mat-line *ngIf="message.action === actions.CHAT">
    <span> {{message.content}} </span>
  </p>
  <p mat-line *ngIf="message.action === actions.JOINED" class="chat-notification">
    <span> <b style="color: green">{{message.from.username}}</b> joined to the conversation.</span>
  </p>
  <p mat-line *ngIf="message.action === actions.LEFT" class="chat-notification">
    <span> <b style="color: red">{{message.from.username}}</b> left conversation.</span>
  </p>
  <p mat-line *ngIf="message.action === actions.RENAME" class="chat-notification">
    <span> <b style="color: blue">{{message.from.previousName}}</b> is now <b style="color: green">{{message.from.username}}</b> </span>
  </p>
</mat-list-item>
